.hero{
    background-image: url('./img/bg3.png');
    background-repeat: no-repeat;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    background-color: black;
  }

  .heros{
      background-color: #ffffff73;
      padding: 50px;
  }
  